<!DOCTYPE html>
<html>
<head>
    <title>Dropdown with Input</title>
</head>


<body>
    <h1>Select an option from the dropdown:</h1>
    <form method="POST" action="/">
        <select name="selected_option">
            {% for option in options %}
                <option value="{{ option }}" {% if selected_option == option %}selected{% endif %}>{{ option }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit">
    </form>

    {% if contents %}
        <h2>Contents of selected option:</h2>
        <form id="inputForm">
            <ul>
                {% for content in contents %}
            <li>{{ content[0] }}</li>
            {% if content[0] == 'inception' or content[0] == 'publication date'  %}
                <input type="date" name="{{ content[1] }}" placeholder="Select a date">
            {% else %}
                <input type="text" name="{{ content[1] }}" placeholder="Enter value for {{ content[0] }}">
            {% endif %}
        {% endfor %}
    </ul>
    <input type="button" value="Get JSON" onclick="getJSONData()">

        </form>
    {% endif %}

    <div id="resultDiv"></div>

    <script>
        function getJSONData() {
            const form = document.getElementById("inputForm");
            const formData = new FormData(form);
            const jsonData = {};

            for (const pair of formData.entries()) {
                jsonData[pair[0]] = pair[1];
            }

            const resultDiv = document.getElementById("resultDiv");
            resultDiv.innerHTML = "<pre>" + JSON.stringify(jsonData, null, 2) + "</pre>";
        }
    </script>

</body>
</html>
